html {
  font-size: 100%;
}

img {
  width: 100%;
}

body {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

header {
  display: flex;
}

/* header */
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  padding: 0 4%;
  margin: 5px auto;
}

header h1 {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  padding: 5px 15px;
}

header ul {
  display: flex;
  gap: 20px;
}

#mv {
  width: 100%;
  height: 600px;
}
/*
#mv {
  width: 100%;
  height: 600px;
  background-image: url(images/1920x1280.png);
  background-size: cover;
  background-position: center;
} */

/* main */
main {
  margin: 0 auto;
  text-align: center;
  width: 960px;
  padding: 0 4%;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin: 100px auto 50px;
}

#profile h2 {
  width: 130px;
}

dt,
dd {
  margin: 10px;
}

.photo {
  border-radius: 50%;
  width: 60%;
}

#profile_img h2 {
  width: 260px;
}

#profile .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

#profile dl {
  text-align: left;
}

#profile_img dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 20px;
}

footer {
  margin-top: 100px;
  text-align: center;
}

/* ブレークポイントは600pxです。 */
/* 自己紹介、プロフィール画像ともに、レスポンシブ時はコンテンツを縦積みにします。 */
@media (max-width: 600px) {
  html {
    font-size: 66.6%;
  }

  body {
    width: 100%;
  }

  header .wrapper {
    width: fit-content;
  }

  main {
    width: fit-content;
  }

  h1 {
    margin-right: 20px;
  }

  h2 {
    border: none;
  }

  #profile .wrapper {
    flex-direction: column;
  }

  #profile dl {
    text-align: center;
  }

  #profile_img dl {
    grid-template-columns: 1fr;
  }
}
